*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(172, 198, 185);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(62, 60, 60);
    color: white;
    height: 70px;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    padding: 20px;
}

.vertical-center{
    display: flex;
    gap: 4px;
    align-items: center;
}

.nav-header{
    font-size: 37px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-options{
    list-style: none;
    display: flex;
    gap: 34px;
}

.nav-options li{
    color: rgb(242, 236, 236);
    font-size:24px;
}

.nav-options li a{
    color: white;
    text-decoration: none;

}

.img1{
    height: 100%;
    width: 100%;
}
.img1 img{
    height: 699px;
    width: 100%;
}

/* .img1 h2{
    justify-content: center;
    text-align: center;
    background-color: rgb(7, 248, 47);
    color: rgb(245, 239, 246);
    font-size: 39px;
    height: 49px;
    width: 729px;
    animation-name: widthanimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
} */

.about{
    margin-top: 40px;
    color: brown;
    text-align: center;
    font-size: 31px;
    text-decoration: underline;
}

.jpgamerz{
    margin-top: 40px;
    text-justify: center;
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 52, 52);
}
.jpgamerz img{
    margin-top: 40px;
    border-radius: 7px;
    width: 411px;
    height: 411px;
}

.jpgamerz a{
    display: flex;
    flex-direction: column;
}

.jpgamerz .h31{
    background-color: rgb(211, 204, 216);
    color: rgba(26, 27, 27, 0.84);
    text-align: center;
    text-justify: center;
    width: 411px;
    height: 111px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.topvideos{
    margin-top: 40px;
    text-justify: center;
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 52, 52);
}

.topvideos img{
    margin-top: 40px;
    width: 411px;
    height: 411px;
    border-radius: 7px;
}

.topvideos a{
    display: flex;
    flex-direction: column;
}
.topvideos .h32{
    background-color: rgb(211, 204, 216);
    color: rgba(26, 27, 27, 0.84);
    text-align: center;
    text-justify: center;
    width: 411px;
    height: 81px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.CONTENT{
    margin-top: 40px;
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 52, 52);
}

.img-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}
    
.img-container img{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 411px;
    border-radius: 7px;
}

.project{
    margin-top: 70px;
    color: brown;
    text-align: center;
    font-size: 31px;
    text-decoration: underline;
}

.projects1{
    margin-top: 40px;
    text-justify: center;
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 52, 52);
}

.projects1 img{
    margin-top: 40px;
    width: 411px;
    height: 411px;
    border-radius: 7px;
}

.projects1 .h33{
    margin-top: 40px;
    background-color: rgb(211, 204, 216);
    color: rgba(26, 27, 27, 0.84);
    text-align: center;
    text-justify: center;
    width: 411px;
    height: 81px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.projects2{
    margin-top: 40px;
    text-justify: center;
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 52, 52);
}

.projects2 .h34{
    margin-top: 40px;
    background-color: rgb(211, 204, 216);
    color: rgba(26, 27, 27, 0.84);
    text-align: center;
    text-justify: center;
    width: 411px;
    height: 81px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.jp{
    margin-top: 40px;
    width: 411px;
    height: 411px;
    border-radius: 7px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.jp:hover{
    border-radius: 7px;
    width: 31px;
  }

.projects3 .guess1{
    margin-top: 40px;
    text-align: center;
    font-size: 37px;
    width: 411px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 52, 52);
}
.projects3 .h35{
    margin-top: 20px;
    background-color: rgb(211, 204, 216);
    color: rgba(26, 27, 27, 0.84);
    text-align: center;
    text-justify: center;
    width: 411px;
    height: 81px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.guessInput{
    padding: 10px;
    width: 79px;
  }

.guessButton{
    padding: 10px;
    width: 411px;
    background-color: #0074d9;
    color: white;
    border: none;
  }

.message{
    margin-top: 20px;
    font-weight: bold;
  }

.ME h4{
    margin-top: 40px;
    color: brown;
    text-align: center;
    font-size: 41px;
    text-decoration: underline;
}

.ME h5{
    margin-top: 30px;
    background-color: rgb(105, 162, 162);
    color: blanchedalmond;
    width: 411px;
    font-size: large;
    text-align: center;
    justify-content: center;
}
.me img{
    margin-top: 20px;
    width: 411px;
    height: 411px;
    border-radius: 7px;
}

.contact{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

 .contact h1{
    font-size: 49px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 52, 52);
    text-decoration: underline;
}

.contacts-container img{
    margin-top: 40px;
    width: 411px;
    height: 411px;
    border-radius: 14px;
}

.contacts-container{
    display: flex;
    gap: 14px;
}

footer{
    margin-top: 40px;
    height: 111px;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.socialmedia{
    display: flex;
    justify-content: center;
}

.socialmedia a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 70%;
}

.socialmedia a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialmedia a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialmedia a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-bottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footer-bottom p{
    color: white;
}
